<div class="container">

  <p>small description here</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Priority</th>
        <th>Reporter</th>

        <th>Date Crated</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>test</td>
         <td>test</td>
          <td>test</td>
      </tr>
      <tr>
         <td>John</td>
        <td>Doe</td>
        <td>test</td>
         <td>test</td>
          <td>test</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>test</td>
         <td>test</td>
          <td>test</td>
      </tr>
    </tbody>
  </table>
 </div>
